body {
  background-color: #555a;
  font-size: 1rem;
}

#demo {
  color: black;
}

button {
  font-size: 2rem;
  cursor: pointer;
}

.container {
  width: 350px;
  height: 200px;
  border: 1px solid darkblue;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello {
  height: 50px;
  width: 50px;
  background-color: lawngreen;
  border-radius: 50%;
  position: absolute;
}



.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  width: 50px;
  height: 50px;
  background-color: chartreuse;
  margin: 30px;
}

.div {
  margin: 15px 0;
  height: 50px;
  width: 50px;
  background-color: lawngreen;
  /* display: none; */
}

.div:first-child {
  background-color: deeppink;
}

.div:last-child {
  background-color: dodgerblue;
}

#slide {
  background-color: orangered;
  margin: 10px 0;
  text-align: center;
  border: 1px solid black;
  padding: 50px;
  display: none;
}

#bttn {
  text-align: center;
}

#bttn span {
  font-size: 3rem;
  cursor: pointer;
  background-color: greenyellow;
}
