body {
  background-color: grey;
  font-size: 1rem;
}

#demo {
  color: lavender;
}

.btns {
  font-size: 2rem;
  color: deeppink;
}

.hello {
  height: 100px;
  width: 100px;
  background-color: lawngreen;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
